{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    
    <div>
        {{ list_entry|safe }}
        {{ error }}
    </div>
    <form action="{% url 'encyclopedia:edit' %}" method="post">
        {% csrf_token %}
        <input type="hidden"  name="edit" value="{{ title }}">
        {% if valid_entry == True %}
        <div>
            <input type="submit" value="Do you want to edit this entry?">
        </div>
        {% endif %}
    </form>

{% endblock %}